@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import "normalize.css";
.line {
  width: 272px;
  border: 1px solid #E2E2E2;
}

.body {
  font-family: Lato;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.header {
  background-color: #222222;
  display: flex;
  justify-content: center;
  height: 75px;
  min-width: 1600px;
  width: 100%;
}
.header__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 859px;
}

.left-items {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 111px;
  gap: 41px;
  margin-bottom: 2px;
}
.left-items__logo {
  height: 38px;
  width: 44px;
}
.left-items__search {
  width: 27px;
  height: 28px;
  margin-left: -1px;
}

.right-items {
  display: flex;
  min-width: 168px;
  gap: 33px;
  align-items: flex-end;
}
.right-items__forma {
  width: 32px;
  height: 23px;
  margin-bottom: 3px;
}
.right-items__profile {
  height: 29px;
  width: 29px;
  margin-bottom: 1px;
}
.right-items__box {
  height: 29px;
  width: 32px;
  top: 7px;
  position: relative;
}
.right-items__ellipse {
  height: 19px;
  position: absolute;
  left: 22px;
  top: -1px;
}

.right-items-group {
  align-self: center;
  height: 37px;
  width: 41px;
  position: relative;
}
.right-items-group .number {
  position: absolute;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: 14px;
  left: 29px;
  top: 1px;
}

.subscribe {
  background-image: url("../resources/common/subscribe/subscribe-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1600px;
  height: 448px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.subscribe__container {
  display: flex;
  gap: 223px;
  align-items: center;
}
.subscribe__image {
  width: 96px;
  height: 96px;
  position: relative;
  bottom: 1px;
}
.subscribe__item-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  bottom: 15px;
  right: 106px;
}
.subscribe__item-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.subscribe__title {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__description {
  height: 99px;
  width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.subscribe__span-title {
  font-family: Lato, Bold;
  font-weight: 700;
  font-size: 24px;
  align-items: center;
  line-height: 40px;
  position: relative;
  bottom: -2px;
  left: -3px;
}
.subscribe__span-description {
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  line-height: 30px;
}
.subscribe__input {
  background-color: #E1E1E1;
  width: 256px;
  height: 49px;
  border: 0;
  border-radius: 100px 0 0 100px;
  color: #222224;
  position: relative;
  bottom: 8px;
  left: 4px;
  text-indent: 24px;
}
.subscribe__btn {
  width: 100px;
  height: 49px;
  border: 0;
  border-radius: 0 100px 100px 0;
  position: relative;
  background-color: #F16D7F;
  color: #FFFFFF;
  bottom: 8px;
}
.subscribe__btn:hover {
  background-color: #E05C6E;
}

.footer {
  background-color: #222224;
  height: 79px;
  min-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__container {
  display: flex;
  gap: 655px;
  align-items: center;
}
.footer__left-items {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
  color: #FBFBFB;
  width: 332px;
  height: 19px;
  position: relative;
  left: 4px;
  bottom: 1px;
}
.footer__right-items {
  display: flex;
  gap: 7px;
  position: relative;
  left: 2px;
}
.footer__image-background {
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__image-background:hover {
  background-color: #F16D7F;
}
.footer__image-background:hover .footer__image {
  filter: brightness(100);
}
.footer__image {
  width: 18px;
  height: 18px;
  filter: brightness(0);
}

.cart__title {
  display: flex;
  align-items: center;
  height: 148px;
  min-width: 1600px;
  width: 100%;
  background-color: #F8F3F4;
}
.cart__title__text {
  text-transform: uppercase;
  position: relative;
  left: 230px;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart__items {
  display: flex;
  margin-top: 96px;
  margin-bottom: 129px;
}
.cart__items__container {
  display: flex;
  flex-direction: row;
  gap: 129px;
}
.cart__items .cart__left-items-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 73px;
}
.cart__items .cart__left-items-group .cart__left-items-buttons {
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  gap: 193px;
}
.cart__items .cart__left-items-group .cart__left-items-buttons .cart__left-item-button {
  width: 234px;
  height: 49px;
  border: 1px solid #A4A4A4;
  background-color: transparent;
}
.cart__items .cart__left-items-group .cart__left-items-buttons .cart__left-item-button:hover {
  background-color: #E1E1E1;
}
.cart__items .cart__left-items-group .cart__left-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__items .cart__left-items-group .cart__left-items .cart__left-item {
  display: flex;
  flex-direction: row;
  gap: 31px;
  width: 652px;
  height: 306px;
  box-shadow: 15px 15px 10px #EAEAEA;
  border: 1px solid #EAEAEA;
}
.cart__items .cart__left-items-group .cart__left-items .cart__left-item__image {
  width: 262px;
  height: 306px;
}
.cart__items .cart__left-items-group .cart__left-items .cart__left-item__description {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.cart__items .cart__left-items-group .cart__left-items .cart__left-item__close {
  width: 18px;
  height: 18px;
  position: relative;
  left: 60px;
  top: 15px;
}
.cart__items .cart__left-items-group .cart__left-items .cart__left-item__description__title {
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  width: 262px;
  height: 58px;
}
.cart__items .cart__left-items-group .cart__left-items .cart__left-item__description__information {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart__items .cart__left-items-group .cart__left-items .cart__left-item__description__information__text {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  color: #575757;
}
.cart__items .cart__right-items-group {
  display: flex;
  flex-direction: column;
  gap: 74px;
}
.cart__items .cart__right-items-group .cart__right-item-form {
  text-transform: uppercase;
  position: relative;
  top: 7px;
  width: 360px;
  height: 272px;
}
.cart__items .cart__right-items-group .cart__right-item-form .form__label {
  font-style: normal;
  width: 360px;
  height: 272px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #222222;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.cart__items .cart__right-items-group .cart__right-item-form .form__label__button {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  width: 101px;
  height: 34px;
  border: 1px solid #A4A4A4;
}
.cart__items .cart__right-items-group .cart__right-item-form .form__label__button:hover {
  background-color: #E1E1E1;
}
.cart__items .cart__right-items-group .cart__right-item-form .form__label__input {
  font-weight: 300;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
  border: 1px solid #A4A4A4;
  width: 339px;
  height: 45px;
  padding-left: 17px;
}
.cart__items .cart__right-items-group .cart__right-item-form .form__label__input:hover {
  background-color: #F16D7F;
}
.cart__items .cart__right-item-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
}
.cart__items .cart__right-item-total__subtotal {
  display: flex;
  justify-content: flex-end;
  width: 170px;
  height: 19px;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  padding-left: 100px;
  gap: 30px;
}
.cart__items .cart__right-item-total__grand-total {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.cart__items .cart__right-item-total .total_position {
  display: flex;
  gap: 30px;
  padding-left: 110px;
}
.cart__items .cart__right-item-total .weight_grandtotal {
  font-weight: 700;
}
.cart__items .cart__right-item-total__button {
  width: 273px;
  height: 50px;
  font-style: normal;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #F16D7F;
}
.cart__items .cart__right-item-total__button:hover {
  background-color: #E05C6E;
}

.color_pink {
  color: #EF5B70;
}

.color_gray {
  color: #6F6E6E;
}

@media screen and (min-width: 0) and (max-width: 1600px) {
  .header {
    min-width: 770px;
    max-width: 1600px;
  }
  .header__container {
    gap: 424px;
  }
  .cart__title {
    min-width: 770px;
    max-width: 1600px;
  }
  .cart__title__text {
    position: relative;
    left: 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
  }
  .cart__items {
    margin-top: 59px;
    margin-bottom: 53px;
  }
  .cart__items__container {
    flex-direction: column;
    gap: 65px;
  }
  .cart__items .cart__right-items-group {
    flex-direction: row;
    gap: 16px;
  }
  .cart__items .cart__right-items-group .cart__right-item-form {
    top: 0;
  }
  .cart__items .cart__right-item-total {
    position: relative;
    top: 40px;
  }
  .subscribe {
    min-width: 770px;
    max-width: 1600px;
    height: 693px;
  }
  .subscribe__container {
    flex-direction: column;
    gap: 112px;
    justify-content: flex-start;
  }
  .subscribe__item-left {
    bottom: 0;
    right: 0;
    top: 65px;
  }
  .footer {
    min-width: 770px;
    max-width: 1600px;
  }
  .footer__container {
    gap: 217px;
  }
}

/*# sourceMappingURL=cart.css.map */
